$min-width: 800px;

.container {
	margin: 0 auto;

	@media (min-width: $min-width) {
		width: $min-width;
	}
}

.info-section {
	display: grid;
	font-family: 'Roboto', sans-serif;
	color: lightgrey;
	grid-template-columns: 1fr;

	@media (min-width: $min-width) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.info-section__box {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto 40px auto;

	@media (min-width: $min-width) {
		padding: 20px;
		margin: 0;
		width: auto;
	}
}

.info-section__image {
	width: auto;
	height: 114px;
	margin: 0 auto 40px auto;
}

.info-section__headline {
	font-weight: 800;
	font-size: 1.2rem;
	color: rgb(138, 138, 138);
}

.info-section__explanation {
	padding: 5px;
}

.info-section--alert {
	color: red;
}
