.o-info-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;

	@media (min-width: $min-width) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.m-card {
	display: flex;
	flex-flow: column;
	max-width: 350px;
	margin: 0 auto 20px auto;

	@media (min-width: $min-width) {
		max-width: auto;
	}
}

.a-h3 {
	text-align: center;
	font-size: 2rem;
}

.a-card-image {
	display: block;
	margin: 0 auto 10px auto;
	width: auto;
	height: 100px;
}

.a-card-headline {
	text-transform: uppercase;
	color: lightgray;
	margin-bottom: 10px;

	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}

	&--center {
		text-align: center;
	}

	&--alert {
		color: red;
	}
}

.a-card-description {
	color: darkgray;
}
