.container {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }
  @media (min-width: 800px) {
    .container {
      width: 800px; } }

/* Beispiel 2 specificity */
.specificity {
  color: white;
  background-color: black; }
  .specificity:hover {
    background-color: orange; }

#some-unique-stuff:hover {
  animation: beispiel 5s infinite; }

@keyframes beispiel {
  from {
    background-color: red; }
  to {
    background-color: yellow; } }
